mixin blog-slider(data)
    .slider.blog-slider
        .blog-slider__item
            .blog-article-wrapper
                .blog-post-date 12 february, 2015
                h2.article-title.article-title--large.article-title--light.blog-post__title The Daily Reporter Selects Gilbane Building Company as 2014 Wisconsin Builder of the Year
                .blog-post-share
                    span.blog-post-share__text Share this post
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-facebook
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-pinterest
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-google-plus
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-twitter
        .blog-slider__item
            .blog-article-wrapper
                .blog-post-date 12 february, 2015
                h2.article-title.article-title--large.article-title--light.blog-post__title The Daily Reporter Selects Gilbane Building Company as 2014 Wisconsin Builder of the Year
                .blog-post-share
                    span.blog-post-share__text Share this post
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-facebook
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-pinterest
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-google-plus
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-twitter
        .blog-slider__item
            .blog-article-wrapper
                .blog-post-date 12 february, 2015
                h2.article-title.article-title--large.article-title--light.blog-post__title The Daily Reporter Selects Gilbane Building Company as 2014 Wisconsin Builder of the Year
                .blog-post-share
                    span.blog-post-share__text Share this post
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-facebook
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-pinterest
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-google-plus
                    a.blog-post-share-link(href="/")
                        span.icon.blog-post-share-icon.fa-twitter