mixin coworking(data)
    a.link-block.services-coworking-link(href="/")
        span.link-block__icon.services-coworking__icon.gear
        span.link-block__description.services-coworking__description Work with us