mixin date-slider(dateSliderClass)
    div.slider.date-slider(class = dateSliderClass)
        .slider-item.date-slider__item
            .article-preview.date-slider-preview
                h4.date-slider__title
                    span.date-slider__date--main 2015
                    sup.date-slider__date--prev / 2014
        .slider-item.date-slider__item
            .article-preview.date-slider-preview
                h4.date-slider__title
                    span.date-slider__date--main 2016
                    sup.date-slider__date--prev / 2015
        .slider-item.date-slider__item
            .article-preview.date-slider-preview
                h4.date-slider__title
                    span.date-slider__date--main 2017
                    sup.date-slider__date--prev / 2016

