mixin download-block(data)
    a.link-block.download-price(href="/")
        span.link-block__icon.download-price__icon.pdf
        span.link-block__description.download-price__description download price