mixin instagram(data)
    a.link-block.instagram__block(href="/")
        span.link-block__icon.instagram__icon.instagram
        span.link-block__description.instagram__description Folow us on instagram
