mixin post-slider(title)
    h3.section-title__large.posts__title #{title}
    .slider.posts-slider
        .slider-item
            .article-preview.posts-article-preview
                time.article-date.posts-article__date 12 february, 2015
                h4.posts-article__title Project Design and Engineering Services
                .article-comment-info.posts-article__comment-info 23 comment
        .slider-item
            .article-preview
                time.article-date.posts-article__date 12 february, 2015
                h4.posts-article__title Services Design and Engineering
                .article-comment-info.posts-article__comment-info 40 comment
        .slider-item
            .article-preview
                time.article-date.posts-article__date 12 february, 2015
                h4.posts-article__title Design and Engineering Services
                .article-comment-info.posts-article__comment-info 29 comment