mixin review-slider(data)
    .slider.review-slider
        .slider-item
            .review-item
                .review-user
                    .review-user__photo
                        img.review-user__img(src="img/reviews/review-1.jpg" alt="Martin H. Jhonsons")
                    h4.review-user__nmame Martin H. Jhonsons
                    .review-user__rate
                        span.fa-star.review-user__rate-icon
                        span.fa-star.review-user__rate-icon
                        span.fa-star.review-user__rate-icon
                        span.fa-star.review-user__rate-icon
                        span.fa-star-o.review-user__rate-icon
                .review__descriotion
                    p.review__descriotion-text
                        |When selecting DMCS as the design-build team, clients benefit.When selecting DMCS as the design-build team, clients benefit.
                        |When selecting DMCS as the design-build team, clients benefit
        .slider-item
            .review-item
                .review-user
                    .review-user__photo
                        img.review-user__img(src="img/reviews/review-2.jpg" alt="Martin H. Jhonsons")
                    h4.review-user__nmame Martin H. Jhonsons
                    .review-user__rate
                        span.fa-star.review-user__rate-icon
                        span.fa-star.review-user__rate-icon
                        span.fa-star.review-user__rate-icon
                        span.fa-star.review-user__rate-icon
                        span.fa-star.review-user__rate-icon
                .review__descriotion
                    p.review__descriotion-text
                        | When selecting DMCS as the design-build team, clients benefit.
                        | When selecting DMCS as the design-build team, clients benefit.
                        | When selecting DMCS as the design-build team, clients benefit