mixin search(data)
    .search.search-wrapper
        form.form.search-form
            .form-row.search-form-row
                input.form-field.search-form-field(type="text" placeholder="What you're looking for")
                button.btn.btn--transparent.search-submit(type="submit")
                    span.fa.fa-search

