mixin subscription(data)
    h3.section-title__large.section-title__large--decorated.subscription__title Subscribe
    form.form.form-subscription
        .form-row.form-subscription-row
            input.form-field.form-subscription-field(type="email" placeholder="E-mail")
        .form-row.form-subscription-row
            button.btn.btn-subscription(type='submit') Sign up