mixin video(data)
    .video-wrapper
        button.video__play-pause
            i.fa.fa-play
            i.fa.fa-pause
        h3.title.video__title company video
        video#video1.video-promotion
            source(src="https://secure.massmotionmedia.com/diorparfums/projects/diorparfums_jadore_injoy_pack_reveal/videos/20170322151458_1280x720_2600_d92f916b-5f7e-4c5a-941b-001eda296493.mp4" type="video/mp4")
