mixin footer(data)
    footer.footer
        .container.footer-container
           .footer-copyright
               p.footer-copyright__description 2015 &#169; Copyright - Foundation theme by
                    a.footer-copyright__link(href="/") Stylemixthemes
           .footer-nav-wrapper
               ul.footer-nav
                    li.footer-nav-item
                        a.footer-nav__link(href="/") Services
                    li.footer-nav-item
                        a.footer-nav__link.active(href="/") Our Works
                    li.footer-nav-item
                        a.footer-nav__link(href="/") News & events
                    li.footer-nav-item
                       a.footer-nav__link(href="/") Work with us
                    li.footer-nav-item
                        a.footer-nav__link(href="/") F.A.Q
                    li.footer-nav-item
                        a.footer-nav__link(href="/") Contact us
                    li.footer-nav-item
                        a.footer-nav__link(href="/") Shop
