mixin head(data)
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= 'FDN'
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    meta(name="HandheldFriendly", content="true")
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
    //link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    script(src="https://use.fontawesome.com/fe99d3ff44.js")
