mixin personal-profile-main(data)
    .main
        .main-content.personal-profile-content
            .main-bunner.services-bunner
                .main-bunner__bg.main-bunner__bg-grid.services-bunner__bg-grid
                    .main-bunner__item.main-bunner__item--left
                    .main-bunner__item.main-bunner__item--right
                .main-bunner__content
                    .container.services-container
                        .main-bunner-content.services-bunner-content
                            h2.title.main-bunner__title Personal Profile

            .personal-profile__block
                .container.personal-profile-container
                    .personal-profile
                        h3.title.personal-profile__title Profile
                        p.personal-profile__title-description Personal settings
                    .personal-profile-data
                        .personal-data
                            .personal-data__avatar
                                .personal-profile__avatar-wrapper
                                    img.personal-profile__avatar(src='img/reviews/review-1.jpg' alt='avatar')
                            .personal-data__name
                                .personal-data__label User Name
                                .personal-data__value Jhonson
                            .personal-data__surname
                                .personal-data__label User surname
                                .personal-data__value Doe
                            .personal-data__nick
                                .personal-data__label User nick (required)
                                .personal-data__value guestJhonson
                            .personal-data__display-as
                                .personal-data__label Display as
                                .personal-data__value Jhonson Doe
                        .personal-contacts

                            .personal-contacts__




