mixin services-main(data)
    .main-content.service-smain-content
        .main-bunner.services-bunner
            .main-bunner__bg.main-bunner__bg-grid.services-bunner__bg-grid
                .main-bunner__item.main-bunner__item--left
                .main-bunner__item.main-bunner__item--right
            .main-bunner__content
                .container.services-container
                    .main-bunner-content.services-bunner-content
                        h2.title.main-bunner__title Our Services
        .container.services-container
            .main-content__content.services-main-content__content.services-main-content__content-grid
                .services-list.services-list-grid
                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link General  Contracting
                                .article-description
                                    p.text--light.services-description__text
                                       |This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.
                            .services-item__img-wrapper
                                span.services-label 1
                                img.services-item__img(src="img/services/services-2.jpg" alt="our service-contracting")
                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link Project design  and engineering
                                .article-description
                                    p.text--light.services-description__text
                                        | This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.

                            .services-item__img-wrapper
                                span.services-label 2
                                img.services-item__img(src="img/services/services-1.jpg" alt="our service-contracting")
                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link Capital  Improvements
                                .article-description
                                    p.text--light.services-description__text
                                        | This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.
                            .services-item__img-wrapper
                                span.services-label 3
                                img.services-item__img(src="img/services/services-5.jpg" alt="our service-contracting")
                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link Construction
                                .article-description
                                    p.text--light.services-description__text
                                        |This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.
                            .services-item__img-wrapper
                                span.services-label 4
                                img.services-item__img(src="img/services/services-4.jpg" alt="our service-contracting")

                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link Procurement
                                .article-description
                                    p.text--light.services-description__text
                                        |This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.
                            .services-item__img-wrapper
                                span.services-label 5
                                img.services-item__img(src="img/services/services-3.jpg" alt="our service-contracting")
                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link Expert Witness
                                .article-description
                                    p.text--light.services-description__text
                                        |This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.
                            .services-item__img-wrapper
                                span.services-label 6
                                img.services-item__img(src="img/services/services-6.jpg" alt="our service-contracting")
                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link Expert Witness
                                .article-description
                                    p.text--light.services-description__text
                                        | This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.
                            .services-item__img-wrapper
                                span.services-label 7
                                img.services-item__img(src="img/services/services-6.jpg" alt="our service-contracting")
                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link Expert Witness
                                .article-description
                                    p.text--light.services-description__text
                                        | This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.
                            .services-item__img-wrapper
                                span.services-label 8
                                img.services-item__img(src="img/services/services-6.jpg" alt="our service-contracting")
                    .services-item
                        .services-description
                            .article.services-article
                                h3.article-title.services-description__title
                                    a.services-description__title-link Expert Witness
                                .article-description
                                    p.text--light.services-description__text
                                        | This allows the Design and Engineering team to originate drawin. This allows the Design and Engineering team to originate drawin copy.
                            .services-item__img-wrapper
                                span.services-label 9
                                img.services-item__img(src="img/services/services-6.jpg" alt="our service-contracting")

                .sidebar.sidebar-grid.services__sidebar
                    .sidebar-item
                        .posts.services-posts
                            +post-slider("popular posts")
                    .sidebar-item
                        .download-price.services-download-price
                            +download-block
                    .sidebar-item
                        .subscribtion.services-subscribtion
                            +subscription
                    .sidebar-item
                        .coworking.services-coworking
                            +coworking